.booking {
    background-color: #ededed;
}
.booking .container {
    max-width: 1000px;
}
.booking-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;
    grid-gap: 70px;
}
.booking-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2.service-name {
    font-size: 26px;
    color: #2e2e2e;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
h2.service-price {
    font-size: 30px;
    margin: 0px 0 15px;
}
h3.service-list-header {
    font-size: 20px;
}
h3.service-list-header {
    font-size: 20px;
    font-weight: 400;
}
button.booking-btn {
    border: none;
    color: white;
    background-color: #7464f4;
    padding: 10px 20px;
    font-size: 14px;
    box-shadow: 4px 4px white;
    margin-right: 20px;
    border-radius: 5px;
    transition: 0.2s;
}
button.booking-btn:nth-child(2) {
    background-color: #34a7ff;
}
button.booking-btn:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}
.booking .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px solid #34a7ff;
    background-color: transparent;
}
.booking .carousel-indicators {
    bottom: 5px;
}
.booking .carousel-item img {
    height: 380px;
    object-fit: cover;
}
.booking-slider {
    padding: 0 10px;
}

@media (max-width: 850px) {
    .booking-grid {
        display: block;
    }
    .booking-slider {
        margin-bottom: 30px;
    }
    .booking-details {
        padding: 0 15px;
    }
}
